* {
margin: 0;
font-family: helvetica, arial, sans-serif;
font-weight: 100;
}
html, body {
height: 100%;
background-color: #f0f0f0;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -80px;
margin-top: 40px;
}

.centercontent{
  position: relative;
  width: 720px;
  left: 50%;
  margin-left: -360px;
}

.foottext {
	text-align: center;
	font-size: 70%;
}
.footer, .push {
height: 80px;
position: relative;
}
.footer{
  background-color: #e0e0e0;
}

.header{
  position: fixed;
  top: 0px;
  background-color: #fff;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.menubar{

}

.logo{
  position: absolute;
  font-size: 24px;
  left: 30px;
  top: 6px;
}

.menulist{
  position: absolute;
  right: 0px;
  top:10px
}

.menupoint{
  text-decoration: none;
  display: inline;
  padding: 10px;
}

.menupoint:hover{
  background-color: rgba(0,0,0,0.1);
}

.menupoint:active{
  background-color: rgba(0,0,0,0.15);
}

.menulink{
  color: #000;
  text-decoration: none;
}

.menupoint_important{
  background-color: #a00;
}

.menupoint_important_text{
  color: white;
}

.menupoint_important:hover{
  background-color: rgba(200,0,0,1);
}

.menupoint_important:active{
  background-color: rgba(128,0,0,1);
}

.highlight{
  /*-moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;*/
  box-shadow:         inset 0 0 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 360px;
  background-color: #eee;
}

.productheader{
  margin-top: 30px;
}

.productheaderunderline{
  width: 100%;
  height: 1px;
  background-color:rgba(0, 0, 0, 0.3);
}

.productcontainer{
  width: 100%;
  /*background-color: #fff;*/
  margin-top: 20px;
}

.product{
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.producttitle{
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.productimage{
  width: inherit;
}
